html {
	height: 100%;
}

body {
	font-family: Roboto;
	background: #1c92d2;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #f2fcfe, #1c92d2);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #f2fcfe, #1c92d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1 {
	background-color: rgb(73, 123, 209);
	color: white;
	margin: 0;
	padding: 10px 15px;
	font-weight: normal;
	text-transform: uppercase;
}

input {
	width: 100%;
	height: 40px;
	font-size: 20px;
	font-weight: bolder;
	padding: 10px 10px;
	background-color: rgb(222, 227, 234);
	border: none;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

input:focus {
	background-color: white;
	border: 2px solid rgb(73, 123, 209);
	outline: none;
}

#container {
	width: 360px;
	margin: 100px auto;
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

ul {
	/*removes the bullet points*/
	list-style: none;

	margin: 0;
	padding: 0;
}

.removeLi {
	background-color: red;
	color: white;
	height: 40px;
	width: 0px;
	opacity: 0;
	text-align: center;
	display: inline-block;
	margin-right: 15px;
  	transition: 0.2s linear;
  	-webkit-transition: 0.2s linear;
  	-moz-transition: 0.2s linear;

}

/*.editLi {
	display: inline-block;
	width: 40px;
	text-align: center;
	float: right;
}*/

li:hover span {
	width: 40px;
	opacity: 1;
}

li {
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	background-color: white;
}

li:nth-child(2n) {
	background-color: rgb(222, 227, 234);
}

.checkedOff {
	color: rgb(73, 123, 209);
	text-decoration: line-through;
}