html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#main {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  /* justify-content: center; */
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* why doesn't sx prop work? */
/* why is the alert text MOVING on first show as if its trying to center? */
/* try out MiniCssExtractPlugin to output multiple .css on build? */
.MuiSnackbar-root {
  transform: translate(0%, -140%);
}

