* {
	font-family: "Source Sans Pro";
}

body {
	border: 18px solid rgb(185, 179, 177);
	margin: 1% 16%;
}

p {
	margin: 14px 14px;
}

.date {
	text-transform: uppercase;
	font-size: 16px;
}

.article_title {
	font-size: 32px;
	font-weight: 700;
}

.p_after_title {
	float: left;
	height: 60px;
	margin: 0 4 0 14;
	border-left: 6px solid rgb(185, 179, 177);
}