body {
  background-color: rgb(25, 25, 25);
}

.square {
  width: 30%;
  background-color: white;
  float: left;
  margin: 1.66%;
  padding-bottom: 30%;
}

#squaresContainer {
  width: 700px;
  margin: 0 auto;
}

#optionsStripe {
  background-color: white;
  height: 30px;
  text-align: center;
}

h1 {
  text-align: center;
  color: white;
}

.selected {
  background-color: blue;
}
/*span {
  color: white;
  width: 50px;
}*/