body {
  background: url("https://source.unsplash.com/hdnsLAU35kY");
  background-size: cover;
  background-position: -3em center;
  font-family: Lato;
  color: white;
}

#content {
  text-align: center;
  margin-top: 22%;
}

h1 {
  font-weight: 700;
  font-size: 5em;
}

hr {
  width: 310px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

/*html {
  height:100%;
}*/